$nav-font-family: Verdana;
$nav-font-size: 30px;
$nav-font-weight: bold;
$nav-text-align: center;

$header-small: 18px;
$header-small-medium: 20px;
$header-medium: 22px;
$header-large: 26px;

$para-font-family: Arial;
$para-small: 14px;
$para-small-medium: 16px;
$para-medium: 18px;
$para-large: 22px;
$para-align-left: left;

$font-white: white;
