@use "../Partials/palette";
@use "../Partials/typography";

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: palette.$section-background-color;
  margin-top: 10px;

  &__image
  {
    margin-top: 10px;
    height: 50%;
    width: 35%;
    border: 2px solid black;
  }
  &__header
  {
    margin-top: 5px;
    text-decoration: underline;
    color: typography.$font-white;
  }
}

.paragraph-box
{
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  &__para
  {
    font-family: typography.$para-font-family;
    font-size: typography.$para-font-size;
    text-align: typography.$para-align-left;
    color: typography.$font-white;
  }
}