//Partials
@use "../Partials/palette";
@use "../Partials/typography";

//update colour so its more readable and media querie

.contact
{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-color: palette.$section-background-color;
  margin-top: 15%;
  border: 2px solid black;
  border: 3px solid white;

  &__text
  {
    margin: 10px;
    font-family: typography.$para-font-family;
    text-align: typography.$para-align-left;
    color: white;

    &--para > a {
      color: white;
    }

    &--para > a:hover {
      color: red;
    }

    &--para>a:active {
      color: black;
    }
  }

  @media only screen and (max-width: 400px) {
    &__text {
      font-size: typography.$para-small;
    }
  }
  
  @media only screen and (min-width: 401px) and (max-width: 600px) {
    &__text {
      font-size: typography.$para-small-medium;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 900px) {
    &__text {
      font-size: typography.$para-medium;
    }
  }
  
  @media only screen and (min-width: 901px) {
    &__text {
      font-size: typography.$para-large;
    }
  }
}