//Partials
@use "../Partials/palette";

.contact
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: palette.$section-background-color;
  margin-top: 10px;

  &__text
  {
    margin: 10px;
    
  }
}