//Partials
@use "../Partials/palette";

.block
{
  display: flex;
  flex-direction: column;
  &__section
  {
    background-color: palette.$section-background-color;
    margin-top: 20px;

    //iphone xr screen
    @media only screen and (max-width: 400px)
    {
      &--header {
        margin: 5px;
        font-size: 12px;
      }
    }
    @media only screen and (min-width: 401px) and (max-width: 600px) 
    {
      &--header {
        margin: 5px;
        font-size: 20px;
      }
    }
    @media only screen and (min-width: 601px) and (max-width: 900px) 
    {
      &--header 
      {
        margin: 5px;
        font-size: 35px;
      }
    }
    @media only screen and (min-width: 901px) and (max-width: 1100px) 
    {
      &--header 
      {
        margin: 5px;
        font-size: 50px;
      }
    }
    
  }
}