//Partials
@use "../Partials/palette";

.block
{
  display: flex;
  flex-direction: column;
  &__section
  {
    background-color: palette.$section-background-color;
    height: 100px;

    &--header 
    {
      margin: 5px;
    }
    &--para
    {
      padding: 5px;
    }
  }
}