//Partials
@use "../Partials/palette";
@use "../Partials/typography";

.project
{
  display: flex;
  flex-wrap: wrap;

  &__section
  {
    background-color: palette.$section-background-color;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;

    &--image
    {
      height: 150px;
      margin-right: 50px;
      border: 2px solid black;
    }
    &--header
    {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      color: typography.$font-white;
    }
    &--para
    {
      font-family: typography.$para-font-family;
      font-size: typography.$para-font-size;
      text-align: typography.$para-align-left;
      color: typography.$font-white;
    }
  }
}