.block {
  display: flex;
  flex-direction: column;
}
.block__section {
  background-color: rgb(63, 114, 175);
  margin-top: 20px;
  color: white;
  border: 3px solid white;
  padding: 20px;
}
@media only screen and (max-width: 400px) {
  .block__section--header {
    margin: 5px;
    font-size: 12px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .block__section--header {
    margin: 5px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .block__section--header {
    margin: 5px;
    font-size: 35px;
  }
}
@media only screen and (min-width: 901px) {
  .block__section--header {
    margin: 5px;
    font-size: 50px;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(63, 114, 175);
  border: 3px solid white;
  margin-top: 10px;
}
.container__image {
  margin-top: 10px;
  height: 50%;
  width: 35%;
  border: 2px solid black;
}
.container__header {
  margin-top: 5px;
  text-decoration: underline;
  color: white;
}
@media only screen and (max-width: 400px) {
  .container__header {
    font-size: 18px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .container__header {
    font-size: 20px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .container__header {
    font-size: 22px;
  }
}
@media only screen and (min-width: 901px) {
  .container__header {
    font-size: 26px;
  }
}

.paragraph-box {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.paragraph-box__para {
  font-family: Arial;
  text-align: left;
  color: white;
}
@media only screen and (max-width: 400px) {
  .paragraph-box__para {
    font-size: 14px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .paragraph-box__para {
    font-size: 16px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .paragraph-box__para {
    font-size: 18px;
  }
}
@media only screen and (min-width: 901px) {
  .paragraph-box__para {
    font-size: 22px;
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-color: rgb(63, 114, 175);
  margin-top: 15%;
  border: 2px solid black;
  border: 3px solid white;
}
.contact__text {
  margin: 10px;
  font-family: Arial;
  text-align: left;
  color: white;
}
.contact__text--para > a {
  color: white;
}
.contact__text--para > a:hover {
  color: red;
}
.contact__text--para > a:active {
  color: black;
}
@media only screen and (max-width: 400px) {
  .contact__text {
    font-size: 14px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .contact__text {
    font-size: 16px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .contact__text {
    font-size: 18px;
  }
}
@media only screen and (min-width: 901px) {
  .contact__text {
    font-size: 22px;
  }
}

.project {
  display: flex;
  flex-wrap: wrap;
}
.project__section {
  background-color: rgb(63, 114, 175);
  border: 3px solid white;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.project__section--image {
  height: 150px;
  margin-right: 50px;
  border: 2px solid black;
}
.project__section--header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.project__section--para {
  font-family: Arial;
  text-align: left;
  color: white;
}
.project__section--para > a {
  color: white;
  font-weight: bold;
}
.project__section--para > a:hover {
  color: red;
}
.project__section--para > a:active {
  color: black;
}
@media only screen and (max-width: 400px) {
  .project__section--para {
    font-size: 14px;
  }
  .project__section--header {
    font-size: 18px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .project__section--para {
    font-size: 16px;
  }
  .project__section--header {
    font-size: 20px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .project__section--para {
    font-size: 18px;
  }
  .project__section--header {
    font-size: 22px;
  }
}
@media only screen and (min-width: 901px) {
  .project__section--para {
    font-size: 22px;
  }
  .project__section--header {
    font-size: 26px;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-grid {
  margin-top: 50px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
  grid-gap: 10px;
}
.skills-grid__image {
  height: 100px;
  width: 100px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgb(5, 162, 241);
}
.skills-grid__image:hover {
  box-shadow: 0 8px 16px 0 rgb(255, 0, 0);
  cursor: pointer;
}
.skills-grid__btn {
  height: 100px;
  width: 100px;
  font-weight: bold;
  position: relative;
  transform: translate(-115%, -16%);
  background: none;
}
.skills-grid__btn:hover {
  box-shadow: 0 8px 16px 0 rgb(255, 0, 0);
  cursor: pointer;
}

.skill-description-box {
  background-color: rgb(63, 114, 175);
  position: absolute;
  bottom: 0;
  width: 98%;
  margin: 4.5px;
}
.skill-description-box__section {
  border: 2px solid white;
  padding-left: 5px;
}
.skill-description-box__section--header {
  color: white;
}
.skill-description-box__section--para {
  color: white;
  font-family: Arial;
}
@media only screen and (max-width: 400px) {
  .skill-description-box__section--para {
    font-size: 14px;
  }
  .skill-description-box__section--header {
    font-size: 18px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .skill-description-box__section--para {
    font-size: 16px;
  }
  .skill-description-box__section--header {
    font-size: 20px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .skill-description-box__section--para {
    font-size: 18px;
  }
  .skill-description-box__section--header {
    font-size: 22px;
  }
}
@media only screen and (min-width: 901px) {
  .skill-description-box__section--para {
    font-size: 22px;
  }
  .skill-description-box__section--header {
    font-size: 26px;
  }
}

body {
  background-color: rgb(17, 45, 78);
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  border-bottom: 5px solid black;
  height: 80px;
  background-color: rgb(249, 247, 247);
  margin: 0px;
}
.header__h1 {
  font-size: 40px;
  margin: 15px;
}
.header__para {
  font-size: 20px;
  text-align: center;
  margin-top: -5px;
}

.navigation {
  background-color: rgb(196, 217, 255);
  border: 5px solid white;
}
.navigation__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
.navigation__list--styling {
  font-family: Verdana;
  font-weight: bold;
}
.navigation__list--styling > a {
  color: white;
  text-decoration: none;
}
.navigation__list--styling > a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.navigation__list--styling > a:active {
  color: red;
  text-decoration: none;
}
@media only screen and (max-width: 400px) {
  .navigation__list--styling {
    font-size: 18px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .navigation__list--styling {
    font-size: 20px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .navigation__list--styling {
    font-size: 22px;
  }
}
@media only screen and (min-width: 901px) {
  .navigation__list--styling {
    font-size: 26px;
  }
}
