.header
{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
  &__section
  {
    
  }
  &__h1
  {
    font-size: 40px;
    margin: 0px;
  }
  &__para 
  {
    font-size: 20px;
    text-align: center;
  }
}